jshort.bib
ms.tex
Anderson-etal-ecological-portfolios.pdf
ms.bib
*.aux
*.bbl
*.log
*.blg
Session.vim
.Rapp.history
*.dvi
*.fdb_latexmk
*.fls
*.rtf
anderson-etal-ecological-portfolios.synctex.gz
discussion-points.md
extract_bib
risk-fig/risk-fig.pdf
risk-fig/map-data/
simulation-diagram3-times.pdf
risk-fig/mike-example.R
front-notes.md
anderson-etal-ecological-portfolios_so.pdf
Doug_Sites_Nov25.xlsx
*.gz(busy)
*.doc
*.docx
port-review-cover.mindnode
portreview-todo.taskpaper
review.mindnode
cover-letter.md
ecological-portfolios-cover.tex
ecological-portfolios-cover.md
*.pdf
risk-fig/risk-fig-bw.pdf
efficient-frontier-fig.pdf
efficient-frontier-fig.pdf
risk-fig/risk-fig-bw.pdf
cover-letter.md
mmm-traits-fig.mindnode/

todo.md
